.navbar{
  background-color: #d9d9d9;
  width: 100%;
  height: 80px;
}

.navbar__content{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__link{
  color: #252525;
  text-decoration: none;
}
.navbar__link:hover{
  text-decoration: underline;
}