*, ::before, ::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.main-section{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.carousel__content{
  padding: 20px;
  height: 600px;
  display: flex;
  width: 100%;
  align-items: center;
}

.cards__content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  position: relative;
  --items: 5;
  --midle: 3;
  --position:1;
}

.item{
  position: absolute;
  width: 300px;
  height: 400px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.item:nth-of-type(1){
  --offset:1;
  background-color: rgba(255,255,255,0.055);
}
.item:nth-of-type(2){
  --offset:2;
  background-color: rgba(255,255,255,0.055);
}
.item:nth-of-type(3){
  --offset:3;
  background-color: rgba(255,255,255,0.055);
}
.item:nth-of-type(4){
  --offset:4;
  background-color: rgba(255,255,255,0.055);
}
.item:nth-of-type(5){
  --offset:5;
  background-color: rgba(255,255,255,0.055);
}
.item:nth-of-type(6){
  --offset:6;
  background-color: rgba(255,255,255,0.055);
}

.pos1{
  --position:1;
}
.pos2{
  --position:2;
}
.pos3{
  --position:3;
}
.pos4{
  --position:4;
}
.pos5{
  --position:5;
}
.pos6{
  --position:6;
}

.navinput{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: gray;
  border: none;
}
.buttons__groups{
  width: 140px;
  display: flex;
  justify-content: space-between;
}
.activeButton{
  width: 20px;
  height: 20px;
  background-color: rgb(90,90,90);
  border-radius: 10px;
  border: none;
}

.image{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}