.time_content{
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.time_info{
  background-color: green;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

.time_menu{
  display: flex;
  gap: 20px;
}

.time_quote{
  background-color: blue;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .time_content{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    background-color: red;
  }
  
  .time_info{
    background-color: green;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: unset;
  }
  
  .time_menu{
    display: flex;
    gap: 20px;
  }
  
  .time_quote{
    background-color: blue;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: unset;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px){
  .time_content{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    background-color: purple;
  }
  
  .time_info{
    background-color: green;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: unset;
  }
  
  .time_menu{
    display: flex;
    gap: 20px;
  }
  
  .time_quote{
    background-color: blue;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: unset;
  }
}

@media screen and (max-width: 479px){
  .time_content{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    background-color: yellow;
  }
  
  .time_info{
    background-color: green;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: unset;
  }
  
  .time_menu{
    display: flex;
    gap: 20px;
  }
  
  .time_quote{
    background-color: blue;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: unset;
  }
}