
.time_content{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.time_input{
  border: 1px solid #333;
  border-radius: 20px;
  padding: 4px 8px;
  background: transparent;
}