
.slide__normal{
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
}

.slide__content{
  width: 95%;
  min-height: 65vh;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  overflow: hidden;
}

.slide__picture{
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.slide__image{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}